@font-face {
    font-family: 'avenir-bold';
    font-weight: bold;
    src: url('../../assets/font/avenirBold.otf')
}

@font-face {
    font-family: 'avenir-bold';
    font-weight: bold;
    src: url('../../assets/font/avenirBold.ttf')
}

@font-face {
    font-family: 'avenir-demi-bold';
    font-weight: demi;
    src: url('../../assets/font/avenirDemi.ttf')
}

@font-face {
    font-family: 'avenir-demi-bold';
    font-weight: demi;
    src: url('../../assets/font/avenirDemi.otf')
}
@font-face {
        font-family: 'avenir-regular';
        font-weight: regular;
        src: url('../../assets/font/avenir.ttf')
}
@font-face {
        font-family: 'avenir-regular';
        font-weight: regular;
        src: url('../../assets/font/avenir.otf')
    }

