//colors:
$main-color: #323232;
$cta-color: #0095ff;
$cta-hover: #0065AD;
$second-color: #ffffff;
$dark-grey: #afafaf;
$med-grey: #e1e1e1e1;
$light-grey: #fafafa;

$tablet-break: 768px;
$desktop-break: 1200px;



